<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
     displayDetailsOnTestsThatTriggerWarnings="true"
>
    <testsuites>
        <testsuite name="Application">
            <directory>tests/Application</directory>
        </testsuite>
        <testsuite name="Domain">
            <directory>tests/Domain</directory>
        </testsuite>
        <testsuite name="Infrastructure">
            <directory>tests/Infrastructure</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>app/Domain/Repositories</directory>
            <directory>app/Domain/Helpers</directory>
            <directory>app/Infrastructure/Console</directory>
            <directory>app/Infrastructure/Exceptions</directory>
            <directory>app/Infrastructure/Providers</directory>
            <directory>app/Infrastructure/Routes</directory>
            <directory>app/Infrastructure/Http</directory>
            <directory>app/Infrastructure/Models</directory>
        </exclude>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="JWT_SECRET" value="Pgs0PeNgwNbFpg88oYx2Vl81UWphlOHNOeiemUqSoEs5cLkrDZUw7lDqFMn"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
